body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navegacion{
    background-color: #c82630;
}
.titulo{
    font-size: medium;
    color: white !important;
}
.boton{
    width: 140px;
    height: 40px;
    background-color: rgb(160, 30, 30);
    color: white !important;
    float: left;
    margin-left: 4%;
    border-radius: 1vw;
    font-size: 2.5vh;
    -webkit-box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.463); 
    box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.319);
}
.boton:hover{
    background-color: #fb4f4d;
}
.proyecto{
    background-color: #c82630;
    color: white;
    padding: 2%;
}
.objetivo{
    background-color: #9b1c24;
    color: white;
    padding: 2%;
}
.app{
    background-color: #c82630;
    color: white;
    padding: 2%;
}
.btn a{
     text-decoration: none;    
    color: white !important;
}
.btn{
    width: 140px;
    height: 40px;
    border-radius: 2vw;
     margin: 10px auto;
     align-items: center;
    justify-content: center;
    background: -moz-linear-gradient(izquierda, #2e77a1 0%, #1C6EA4 37%, #191382 100%);
    background: -webkit-linear-gradient(izquierda, #2e77a1 0%, #1C6EA4 37%, #191382 100%);
    background: linear-gradient(to right, #2e77a1 0%, #1C6EA4 37%, #191382 100%);
    color: white;
}
footer{
    background-color: #87171f;
    color: white;
}
footer ul li{
     list-style: none;
}
.mapa{
    margin-top: 5px;
    margin-right: 10px;
}
.footer-bottom {
  background-color: #a61f27;
}

